.button {
	font-size: 1rem;
	text-align: center;
	background-color: var(--button-color);
	color: var(--button-text-color);
	padding: 1rem 0;
	border-radius: 2rem;
	border-style: none;
	width: 100%;
}
