<div class="sidebar" [ngClass]="{'open' : navigationIsOpen}">
  <div class="sidebar_navigation">
    <img class="sidebar_navigation_burger" src="assets/icons/burger.svg" alt="menu icon" (click)="toggleNavigation()">
    <a [routerLink]="['/']">
      <img class="sidebar_navigation_logo" src="assets/icons/logo_font_dark.svg" alt="Skiosa logo" />
    </a>
  </div>
  <app-nav-button text="Recommendations" routerLink="/recommendations" class="sidebar_nav-button"
    [routerLink]="['/recommendations']"></app-nav-button>
  <app-nav-button text="Bookmarks" class="sidebar_nav-button" [routerLink]="['/bookmarks']"></app-nav-button>
  <app-nav-button text="Subscriptions" class="sidebar_nav-button" [routerLink]="['/subscriptions']"></app-nav-button>
  <app-nav-button text="Explore" routerLink="/explore" class="sidebar_nav-button" [routerLink]="['/explore']">
  </app-nav-button>
  <a class="sidebar_button first" (click)="togglePopover()">
    <img class="sidebar_button_icon" src="assets/icons/plus.svg" alt="add feed button" />
    <h2 class="sidebar_button_text">Add new feed</h2>
  </a>
  <a class="sidebar_button" [routerLink]="['/settings']">
    <img class="sidebar_button_icon" src="assets/icons/settings.svg" alt="settings button" />
    <h2 class="sidebar_button_text">Settings</h2>
  </a>
</div>

<div class="popover" *ngIf="popoverActive" (click)="togglePopover()">
</div>
<app-card cardTitle="Add Feed" class="add-feed" *ngIf="popoverActive">
  <app-input label="Url" [(value)]="feed.url" class="add-feed_input" [hasContent]="true" [valid]="feed.validURL"
    errorMessage="RSS Feed not found or wrong format" (changed)="urlChanged()">
    <div class="add-feed_input_button" (click)="loadRssFeed()">
      Load
    </div>
  </app-input>
  <hr>
  <app-input label="Name" [(value)]="feed.name" [disabled]="!feed.loadedURL" class="add-feed_input">
  </app-input>
  <app-input label="TTL (optional)" [(value)]="feed.ttl" [disabled]="!feed.loadedURL" class="add-feed_input"
    [valid]="isInt(feed?.ttl)" errorMessage="TTL must be a number">
  </app-input>
  <app-input label="Description" [(value)]="feed.description" [disabled]="!feed.loadedURL" class="add-feed_input">
  </app-input>
  <app-button text="Add Feed" (click)="addFeed()"></app-button>
  <h2 *ngIf="success !== undefined" [style.color]="success ? 'var(--pastel-b-color)' : 'var(--pastel-d-color)'">{{msg}}
    <a [routerLink]="['/feed',newFeedID]" *ngIf="success">Click Here</a>
  </h2>
</app-card>