<div class="welcome-container">
	<app-card cardTitle="Recommendations">
		<div
			class="welcome-article"
			*ngFor="let recommendedArticle of recommendedArticles"
		>
			<app-article
				[articleTitle]="recommendedArticle.title"
				[articleDescription]="recommendedArticle.description"
				[colorSeed]="getColorSeed(recommendedArticle)"
				[routerLink]="['/article/', recommendedArticle.id]"
				[likeStatus]="recommendedArticle.likeStatus"
				[bookmarked]="recommendedArticle.bookmarkStatus"
				[id]="recommendedArticle.id"
			>
			</app-article>
		</div>
	</app-card>
</div>
