<div class="welcome-container">
  <app-card cardTitle="Recommendations">
    <div
      class="welcome-article"
      *ngFor="let recommendedArticle of recommendedArticles"
    >
      <app-article
        [articleTitle]="shortenedText(recommendedArticle.title)"
        [articleDescription]="shortenedText(recommendedArticle.description)"
        [colorSeed]="recommendedArticle.id"
        [routerLink]="'/article/' + recommendedArticle.id"
      >
      </app-article>
    </div>
  </app-card>
</div>
