<div class="settings">
    <div class="settings_heading-card">
        <h1 class="settings_heading-card_title">Settings</h1>
    </div>

    <app-card class="settings_account" cardTitle="Account-Settings:">
        <div class="settings_account_user">
            <p>User-Name:</p>
            <p>{{ username }} </p>
        </div>
        <div class="settings_account_mail">
            <p>E-Mail:</p>
            <p>{{ usermail }}</p>
        </div>
    </app-card>

    <app-card cardTitle="Messages:">
        <!-- TODO: add checkboxes -->
    </app-card>
    
    <app-card cardTitle="Design: ">
        <!-- TODO: add light dark mode toggle button -->
    </app-card>
    
    <app-card cardTitle="Contact">
        <p>need any help?</p>
        <p>contact us at: skiosa@anymail.com</p>
    </app-card>
    <app-card cardTitle="Recommendations: ">

    </app-card>
</div>
