.card-container {
  background-color: var(--secondary-background);
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 1rem;
  color: var(--primary-text-color);
}

.card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}
