<div class="subscription-feed-container">
	<div
		class="subscription-feed-icon-background"
		[ngStyle]="{ 'background-color': color }"
		[routerLink]="['/feed/', feed.id]"
	>
		<img
			alt="globe"
			src="assets/icons/globe.svg"
			class="subscription-feed-icon"
		/>
	</div>
	<div
		class="subscription-feed-text-container"
		[routerLink]="['/feed/', feed.id]"
	>
		<p class="subscription-feed-text subscription-feed-name">{{ feed.name }}</p>
		<p class="subscription-feed-text subscription-feed-description">
			{{ feed.description }}
		</p>
	</div>
	<img
		class="side-icon subscription-open"
		(click)="onClick()"
		[hidden]="isOpen"
		src="assets/icons/open.svg"
		alt="open"
	/>
	<img
		class="side-icon subscription-close"
		(click)="onClick()"
		[hidden]="!isOpen"
		src="assets/icons/close.svg"
		alt="close"
	/>
</div>
