.article {
	/*width: 100%;*/
	background-color: var(--article-card-color);
	display: flex;
	flex-direction: row;
	border-radius: 1rem;
	height: 100%;
}

.article_color {
	width: 1rem;
	flex-shrink: 0;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	margin-right: 0.5rem;
}

.article_content {
	padding-top: 1rem;
	padding-bottom: 0.9rem;
}

.article_content_text {
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
}

.article_title {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.article_description {
	color: var(--secondary-text-color);
}

.article_action-icons {
	margin-left: auto;
	padding-left: 0.5rem;
	margin-right: 0.5rem;
	width: 1.5rem;
	flex-shrink: 0;
	padding-top: 1rem;
}

.article_action-icons_icon_bookmark {
	width: 100%;
	filter: invert(74%) sepia(9%) saturate(659%) hue-rotate(330deg)
		brightness(99%) contrast(91%);
}

.article_action-icons_icon_like {
	width: 100%;
}

.article-color-a {
	background-color: var(--pastel-a-color);
}

.article-color-b {
	background-color: var(--pastel-b-color);
}

.article-color-c {
	background-color: var(--pastel-c-color);
}

.article-color-d {
	background-color: var(--pastel-d-color);
}

@media only screen and (min-width: 768px) {
	.article-color {
		width: 4rem;
		margin-right: 1rem;
	}
}
