.feed {
    width: 190px;
    border-radius: 20px;
}

.feed_icon {
    width: 90px;
    height: 90px;
    padding: 25px 50px;
    border-radius: 20px 20px 0 0;
}

.feed_title {
    font-size: 24px;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--primary-background);
    border-radius: 0 0 20px 20px;
    padding: 20px 0;
    margin: 0;
}