.input {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.input_label {
	margin: 0.25rem 0;
	display: inline-block;
}

.input_field {
	background-color: var(--secondary-background);
	border: 2px solid var(--primary-text-color);
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.disabled {
	background-color: var(--primary-background);
}

.input_field_text {
	padding-left: 0.8rem;
	border: none;
	width: 100%;
	background-color: inherit;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 20px;
	color: var(--primary-text-color);
}

.border-left {
	border-radius: 2rem 0 0 2rem;
	padding-right: 0.5rem;
}

.border-complete {
	border-radius: 2rem;
	padding-right: 0.8rem;
}

.input_field_end {
	flex-shrink: 0;
	align-self: stretch;
	font-size: 20px;
}

.input_status {
	border-width: 2px;
	border-style: solid;
	margin: 0;
	margin-top: 0.25rem;
}

.input_error {
	color: var(--pastel-d-color);
	font-size: 0.8rem;
	margin: 0;
	margin-top: 0.25rem;
}
