<app-card class="article_details" cardTitle="Article Details">
	<h1 class="article_details_title">
		{{ article.title }}
	</h1>
	<p class="article_details_description">
		{{ article.description }}
	</p>
</app-card>

<app-card cardTitle="Actions">
	<div class="article_action-icon">
		<app-icon-button
			title="Visit" 
			icon="assets/icons/external-link.svg"
			(click)="redirectToUrl(article.url)"
		>
		</app-icon-button>
		<app-icon-button
			title="Like"
			[icon]="
			'assets/icons/heart' +
			(likeStatus ? 'red' : '') +
			'.svg'
		"
		(click)="changeLikeStatus($event)"
		></app-icon-button>
		<app-icon-button
			title="Bookmark"
			icon="assets/icons/bookmark.svg"
		></app-icon-button>
		<app-icon-button
			title="Share"
			icon="assets/icons/share.svg"
			(click)="copyLinkToClipboard()"
		></app-icon-button>
		<app-icon-button
			title="Feed"
			icon="assets/icons/external-link.svg"
			(click)="redirectToFeedId(article.feed.id)"
		>
		</app-icon-button>
	</div>
</app-card>
<app-card cardTitle="Similar Articles">
	<div
		*ngFor="let a of recommendedArticles"
		class="article_recommended-articles"
	>
		<app-article
			[id] = "a.id"
			[articleTitle]="a.title"
			[articleDescription]="a.description"
			[colorSeed]="getColorSeed(a)"
			[likeStatus]="a.likeStatus"
			(click)="redirectToArticleId(a.id)"
		>
		</app-article>
	</div>
</app-card>
