.article_details_title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: normal;
    color: var(--primary-text-color);
}

.article_details_description {
    margin: 10px 0;
    font-size: 20px;
    color: var(--seconday-text-color);
}

.article_recommended-articles {
    margin: 1rem auto;
}

@media screen and (min-width: 768px) {
    .article_details_title {
        margin-top: 2rem;
        font-size: 40px;
    }

    .article_details_description {
        font-size: 30px;
    }
}

.article_action-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}